.DS_Store
.build
.swiftpm
Packages
DerivedData
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/dist
